<!doctype html>
<html lang="en" ng-app="piboard.dashboard">
<head>
	<meta http-equiv="refresh" content="600">
  <meta charset="utf-8">
  <title>StrongLoop Dashboard</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
	
	<style>
	
		#page {
		  width: 98%;
		  margin: 5px auto;
		}
		
		/* ------------------------------------------ */
		/*  Look & Feel                               */
		/* ------------------------------------------ */

		.portlet {
		  height: 200px;
		  background-color: #EEE;
		  border: 1px solid #DDD;
		  margin-bottom: 15px;
		}

		.header, .footer {
		  background-color: #EFF;
		  border: 1px solid #DDD;
		  height: 36px;
		  margin-bottom: 18px;
		}

	</style>
	
  
  <h1>Fixed</h1>
	<div id="page">
	
	<div class="header">The Header</div>

	<div class="row-fluid">
	    
			<div class="span8 body">
				

	      <div class="row-fluid">
					
	        <div class="span4">
	          <div class="portlet">Portlet 1</div>
	        </div>
	        <div class="span4">
	          <div class="portlet">Portlet 2</div>
	        </div>
	        <div class="span4">
	          <div class="portlet">Portlet 2</div>
	        </div>
	      </div>

	      <div class="row-fluid">
					
	        <div class="span4">
	          <div class="portlet">Portlet 1</div>
	        </div>
	        <div class="span4">
	          <div class="portlet">Portlet 2</div>
	        </div>
	        <div class="span4">
	          <div class="portlet">Portlet 2</div>
	        </div>
	      </div>

	      <div class="row-fluid">
					
	        <div class="span4">
	          <div class="portlet">Portlet 1</div>
	        </div>
	        <div class="span4">
	          <div class="portlet">Portlet 2</div>
	        </div>
	        <div class="span4">
	          <div class="portlet">Portlet 2</div>
	        </div>
	      </div>
				
	    </div>
	  </div>
		
		
	  <div class="footer">The Footer</div>
	</div> 
		
  <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script> -->
	<script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="lib/angular/angular-sanitize.js"></script>
	
	<!-- App Resources -->
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script type="text/javascript">
	
  </script>
	
</body>
</html>
